
%h2.section
	= _(params[:controller].capitalize)
%ul.nav.nav-tabs
.table_info
	%span.muted.count
		= _('Viewing 0 of 0 results (0 Total Courses)')
		-#%button.btn.btn-info.template-new-path + 1
		= button_to "+ New", courses_path, :class=>"btn btn-info courses-new-path"

.courses-table

	%table.table-striped.table-bordered.table-hover.table-bordered.courses
		%thead
			%tr
				%th.checkbox.check_all
					%label.checkbox
						%input{:type =>"checkbox", :value=>0}

				%th.course_name #{_('Course Name')}
				%th.time #{_('Time')}
				%th.operation_system #{_('Operating System')}
				%th.lab #{_('Lab')}
				%th.last_report #{_('Last Report')}
				%th.action #{_('Action')}
		%tbody
			%tr
				%td.checkbox
					%label.checkbox
						%input{:type =>"checkbox", :value=>0}
				%td.course_name #{_('Course Name')}
				%td.operation_system #{_('Time')}
				%td.environment #{_('Operating System')}
				%td.lab #{_('Lab')}
				%td.last_report #{_('Last Report')}
				%td.action 
					.btn-group.table-action-button
						%button.btn.btn-small.edit Edit
						%button.btn.btn-small.dropdown-toogle{"data-toggle"=>"dropdown", :href =>"#{}"}
							%span.caret
						%ul.dropdown-menu
							%li 
								%a{:href=>"#"} #{_('Clone')}
							%li 
								%a.delete{:href=>"#"} #{_('Delete')}

