

%ul.nav.nav-tabs.content_tabs	
	%li 
		%a{:href=>"#"} Action!
	%li 
		%a{:href=>"#"} Action?
	%li 
		%a{:href=>"#"} Action|

	%li.dropdown
		%a.dropdown-toggle{"data-toogle" => "dropdown", :href => "#"} 
			Dropdown
			%b.caret
		%ul.dropdown-menu
			%li 
				%a{:href=>"#"} home
			%li 
				%a{:href=>"#"} home
	
.container
	.row.first
		.span4
			%h2.section
				= params[:controller].capitalize
			.table_info
				%span.muted.count
					= _('Viewing 0 of 0 results (0 Total Systems)')
					-#%button.btn.btn-info.template-new-path + 1
					= button_to "+ New", new_system_path, :class=>"btn btn-info system-new-path"
				
		
.container
	.row.second
		.span4
			.well.sidebar-nav.scrolling-nav
				%table.table.table-striped.list
					%thead
						%tr
							%th.name #{_('Name')}
							%th.date #{_('Registered / Modified')}
					%tbody
						%tr.success
							%td.name 
								%i.icon-ok 
								course1
							%td.date
								.created_at 06 Oct 2012, 14:53:26
								.modified_at 06 Oct 2012, 14:53:26
						%tr.success
							%td.name 
								%i.icon-ok 
								course1
							%td.date
								.created_at 06 Oct 2012, 14:53:26
								.modified_at 06 Oct 2012, 14:53:26
						%tr.success
							%td.name 
								%i.icon-ok 
								course1
							%td.date
								.created_at 06 Oct 2012, 14:53:26
								.modified_at 06 Oct 2012, 14:53:26
						%tr.error
							%td.name 
								%i.icon-remove
								course1
							%td.date
								.created_at 06 Oct 2012, 14:53:26
								.modified_at 06 Oct 2012, 14:53:26
						%tr.error
							%td.name 
								%i.icon-remove
								course1
							%td.date
								.created_at 06 Oct 2012, 14:53:26
								.modified_at 06 Oct 2012, 14:53:26
					


		.span8
			.hero-unit
				%hi 
				%p This is a template for a simple marketing or informational website.
				%p
					%a.btn.btn-primary.btn-large Learn more

			